<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <link rel="stylesheet" href=<%= locals.css %>>
  </head>
  <body>
    <!-- <h1>Express Layout Example</h1> -->
    <%- body %>
  </body>
</html>