<header>
  <nav>
    <div class="logo">
      <a href="./Home.html">Invoice Management System</a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/register">Organisations</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">SOWs</a></li>
      <li><a href="#">Invoices</a></li>
      <li><a href="#">Payments</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="hero">
    <h1>Streamline Your Invoice Management</h1>
    <p>Efficiently manage your clients, SOWs, invoices, and payments.</p>
  <button id=""> <a href="/hello.html" style="text-decoration:none; color:white;">Get Started</a></button>
  </section>

  <section class="features">
    <div class="feature">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Client Icon" style="height: 50%;width: 50%;" />
      <h3>Client Management</h3>
      <p>Add, edit, and manage your clients' information.</p>
    </div>
    <div class="feature">
      <img src="https://cdn-icons-png.flaticon.com/128/2541/2541979.png" alt="SOW Icon" />
      <h3>SOW Creation</h3>
      <p>Create and manage Statements of Work (SOWs).</p>
    </div>
    <div class="feature">
      <img src="https://cdn-icons-png.flaticon.com/128/4306/4306889.png" alt="Invoice Icon" />
      <h3>Invoice Generation</h3>
      <p>Generate invoices based on SOWs and payment plans.</p>
    </div>
    <div class="feature">
      <img src="https://cdn-icons-png.flaticon.com/128/12511/12511676.png" alt="Payment Icon" />
      <h3>Payment Tracking</h3>
      <p>Track and manage payments for invoices.</p>
    </div>
  </section>
</main>

<footer>
  <p>&copy;SunilVathar Invoice Management System</p>
</footer>

